body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.5rem !important;
}
.p-button.p-button-icon-only.p-button-rounded {
  height: 2rem !important;
}
.p-button.p-button-icon-only {
  width: 2rem !important;
}
.p-toolbar {
  padding: 0.5rem !important;
}
.card {
  padding: 1rem !important;
}
.field {
  margin-bottom:0 !important;
}
.p-button.p-button-icon-only {
  padding: 0.5rem 0 !important;
}


.blue-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--blue-500);
}
.blue-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--blue-500);
}
.green-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--green-500);
}
.green-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--green-500);
}
.yellow-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--yellow-500);
}
.yellow-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--yellow-500);
}
.cyan-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--cyan-500);
}
.cyan-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--cyan-500);
}
.pink-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--pink-500);
}
.pink-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--pink-500);
}
.indigo-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--indigo-500);
}
.indigo-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--indigo-500);
}
.teal-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--teal-500);
}
.teal-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--teal-500);
}
.bluegray-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--bluegray-500);
}
.bluegray-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--bluegray-500);
}
.purple-tooltip.p-tooltip .p-tooltip-arrow {
  border-top-color: var(--purple-500);
}
.purple-tooltip.p-tooltip .p-tooltip-text {
  background-color: var(--purple-500);
}

.p-treeselect-token {
  display: none !important;
}

.p-timeline-event-opposite {
  display: none !important;
}

.change-disabled .p-disabled, .change-disabled .p-component:disabled {
  background-color: #f2f2f2 !important;
  opacity: 1 !important;
}